<%= form_with(url: new_workout_path, method: :get) do |f| %>
  <div class="mb-3">
    <label class="form-label">Тип тренировки</label>
    <select name="workout_type_id" class="form-select">
      <option value="">Выберите тип</option>
      <% WorkoutType.all.each do |wt| %>
        <option value="<%= wt.id %>"><%= wt.name %></option>
      <% end %>
    </select>
  </div>

  <div class="mt-4 text-center">
    <button type="submit" class="btn btn-primary px-5">Далее →</button>
  </div>
<% end %>